.image{
    min-height: 200px;
    max-height: 400px;
    min-width: 300px;
    background-color: grey !important;
    border-radius: 30px !important;
    vertical-align: center;
    display: inline-block;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.picture{
    height: 180px !important;
    width: 300px !important;
    object-fit: cover !important;
}

.content{
    text-align: center;
    height: 91vh;
}

.icon{
    display: inline-block;
    font-size: 100px !important;
}

.delete{
    cursor: pointer;
    font-size: 75px !important;
}

.textField{
    width: 80%;
}

.dateField{
    width: 40%;
}

.saveBtn{
    width: 180px!important;
    height:40px!important;
    margin-bottom:10px!important;
}

.input{
    display:none;
}